# Supress wall of text on 'npm install'
audit = false
fund = false
update-notifier = true
# Lock versions of node and npm, when looking up engines.
node-version = 16.14.0
npm-version = 8.3.0
# Default options for package-lock - package-lock=true package-lock-only=false
# If set to false, then ignore package-lock.json files when installing. This will also prevent writing package-lock.json if save is true.
# When package package-locks are disabled, automatic pruning of extraneous modules will also be disabled.
package-lock = true
package-lock-only = false
# temporary added - should move it after craco 7 is released
legacy-peer-deps = true