{
  "importOrder": [
    "^@kubernetes?.+$",
    "^electron?.+$",
    "^react?.+$",
    "^antd?.+$",
    "^@ant-design?.+$",
    "^@reduxjs?.+$",
    "^@rjsf?.+$",
    "<THIRD_PARTY_MODULES>",
    "^@constants",
    "^@models",
    "^@redux",
    "^@organisms",
    "^@molecules",
    "^@atoms",
    "^@components",
    "^@hooks",
    "^@utils",
    "^@assets",
    "^@styles",
    "^@src",
    "^(?!\\.+\\/styled)^[./]?.+$",
    "^\\.+\\/styled$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "semi": true,
  "trailingComma": "es5"
}
