body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.monokleEditorUnsatisfiedRefGlyphClass {
  background-image: url('./assets/MonokleWarning.svg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 12px;
  max-width: 14px;
  margin-top: 2.5px;
  margin-left: 12.5px;
}

.monokleEditorUnsatisfiedRefInlineClass {
  color: #ad8b00 !important;
  text-decoration: underline;
}

.monokleEditorSatisfiedRefGlyphClass {
  background-color: #3c8618;
  border-radius: 50%;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorOutgoingRefGlyphClass {
  background-image: url('./assets/OutgoingRefsIcon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorIncomingRefGlyphClass {
  background-image: url('./assets/IncomingRefsIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorSatisfiedRefInlineClass {
  color: #1890ff !important;
  text-decoration: underline;
}

.monokleEditorAddRemoveFilterInlineClass {
  text-decoration-color: #006d75 !important;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.ant-menu-submenu-popup {
  max-height: 250px !important;
  overflow-y: scroll !important;
}

.animated-highlight {
  background-color: #d89614;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.animated-highlight::after {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #594214bb;
  content: ' ';
  top: 0;
  left: 0;
  /* z-index: -1; */
  border-radius: 100%;
  animation: highlight 1s infinite;
}

@keyframes highlight {
  0% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.3);
  }
}

.resource-prefix-popover-overlay .ant-popover-inner-content {
  padding: 0 16px;
}

.projects-table-column-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.projects-table-column-folder {
  color: #7d7d7d;
  font-size: 12px;
}

.projects-table-column-created {
  color: #7d7d7d;
  font-size: 12px;
}

.projects-table-column-last-opened {
  color: #acacac;
  font-size: 12px;
}

.projects-table-column-actions {
  display: none;
}

.ant-table-header {
  margin-bottom: 18px;
}

.ant-table-header .ant-table-thead .ant-table-cell {
  background-color: transparent;
  border: none !important;
  font-size: 12px;
  font-weight: 600;
  color: #acacac;
}

.ant-table-header .ant-table-thead .ant-table-cell:first-child {
  border-left: 4px transparent solid !important;
}

.ant-table-header .ant-table-thead .ant-table-cell:before {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent !important;
}

.ant-table-body .ant-table-row .ant-table-cell {
  background-color: transparent !important;
  border-bottom: none !important;
}

.ant-table-body .ant-table-row:hover .ant-table-cell {
  color: #13a8a8;
  cursor: pointer;
}

.ant-table-body .ant-table-row:hover .projects-table-column-actions {
  display: flex;
}

.ant-table-body .ant-table-row .ant-table-cell:first-child {
  border-left: 4px transparent solid;
}

.ant-table-body .ant-table-row:hover .ant-table-cell:first-child {
  border-left: 4px #84e2d8 solid;
}
