body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.monokleEditorUnsatisfiedRefGlyphClass {
  background-image: url("./assets/MonokleWarning.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 12px;
  max-width: 14px;
  margin-top: 2.5px;
  margin-left: 12.5px;
}

.monokleEditorUnsatisfiedRefInlineClass {
  color: #ad8b00 !important;
  text-decoration: underline;
}

.monokleEditorSatisfiedRefGlyphClass {
  background-color: #3C8618;
  border-radius: 50%;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorSatisfiedRefInlineClass {
  color: #1890FF !important;
  text-decoration: underline;
}

.monokleEditorAddRemoveFilterInlineClass {
  text-decoration-color: orange !important;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.monokleEditorAddRemoveFilterGlyphClass {
  background-color: orange !important;
  border-radius: 50%;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}


.ant-menu-submenu-popup {
  max-height: 250px !important;
  overflow-y: scroll !important;
}
