body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.monokleEditorUnsatisfiedRefGlyphClass {
  background-image: url("./assets/MonokleWarning.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 15px;
}

.monokleEditorUnsatisfiedRefInlineClass {
  color: #ad8b00 !important;
  text-decoration: underline;
}

.monokleEditorSatisfiedRefGlyphClass {
  background-color: #1890FF;
  border-radius: 50%;
}

.monokleEditorSatisfiedRefInlineClass {
  color: #1890FF !important;
  text-decoration: underline;
}
