body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.monokleEditorUnsatisfiedRefGlyphClass {
  background-color: #ad8b00;
  border-radius: 50%;
}

.monokleEditorUnsatisfiedRefInlineClass {
  color: #ad8b00 !important;
  text-decoration: underline;
}
