body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.reflex-container > .reflex-element::-webkit-scrollbar {
  width: 8px;
}

.reflex-container > .reflex-element::-webkit-scrollbar-track {
  background: #141414;
}

.reflex-container > .reflex-element::-webkit-scrollbar-thumb {
  background: #303030;
}

.reflex-container.vertical > .reflex-splitter {
  width: 2px;
  background-color: #262626;
  border: 0px;
}

.reflex-container.vertical > .reflex-splitter:hover {
  background-color: #dbdbdb;
  transition: all 0.5s ease;
  border: 0px;
}

.reflex-container.vertical > .reflex-splitter.active {
  background-color: rgba(23, 125, 220, 0.5);
  border-right: 1px solid rgba(23, 125, 220, 0.5);
  border-left: 1px solid rgba(23, 125, 220, 0.5);
  transition: all 0.25s ease;
}

.reflex-container.horizontal > .reflex-splitter {
  height: 2px;
  background-color: #262626;
  border: 0px;
}

.reflex-container.horizontal > .reflex-splitter:hover {
  background-color: #dbdbdb;
  transition: all 0.5s ease;
  border: 0px;
}

.reflex-container.horizontal > .reflex-splitter.active {
  background-color: rgba(23, 125, 220, 0.5);
  border-bottom: 1px solid rgba(23, 125, 220, 0.5);
  border-top: 1px solid rgba(23, 125, 220, 0.5);
  transition: all 0.25s ease;
}

.monokleEditorUnsatisfiedRefGlyphClass {
  background-image: url('./assets/MonokleWarning.svg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 12px;
  max-width: 14px;
  margin-top: 2.5px;
  margin-left: 12.5px;
}

.monokleEditorUnsatisfiedRefInlineClass {
  color: #ad8b00 !important;
  text-decoration: underline;
}

.monokleEditorSatisfiedRefGlyphClass {
  background-color: #3c8618;
  border-radius: 50%;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorOutgoingRefGlyphClass {
  background-image: url('./assets/OutgoingRefsIcon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorIncomingRefGlyphClass {
  background-image: url('./assets/IncomingRefsIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorPolicyIssueGlyphClass {
  background-image: url('./assets/ErrorIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 10px;
  max-width: 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.monokleEditorPolicyIssueInlineClass {
  color: #e65a6d !important;
  text-decoration: underline;
}

.monokleEditorSatisfiedRefInlineClass {
  color: #1890ff !important;
  text-decoration: underline;
}

.monokleEditorAddRemoveFilterInlineClass {
  text-decoration-color: #006d75 !important;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.ant-menu-submenu-popup {
  max-height: 250px !important;
  overflow-y: scroll !important;
}

.animated-highlight {
  background-color: #d89614;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.animated-highlight::after {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #594214bb;
  content: ' ';
  top: 0;
  left: 0;
  /* z-index: -1; */
  border-radius: 100%;
  animation: highlight 1s infinite;
}

@keyframes highlight {
  0% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.3);
  }
}

.resource-prefix-popover-overlay .ant-popover-inner-content {
  padding: 0 16px;
}

.table-column-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.projects-table-column-folder {
  color: #7d7d7d;
  font-size: 12px;
}

.projects-table-column-created {
  color: #7d7d7d;
  font-size: 12px;
}

.projects-table-column-last-opened {
  color: #acacac;
  font-size: 12px;
}

.table-column-actions {
  display: none;
}

.ant-table-header {
  margin-bottom: 18px;
}

.ant-table-header .ant-table-thead .ant-table-cell {
  background-color: transparent;
  border: none !important;
  font-size: 12px;
  font-weight: 600;
  color: #acacac;
}

.ant-table-header .ant-table-thead .ant-table-cell:first-child {
  border-left: 4px transparent solid !important;
  padding-left: 12px;
}

.ant-table table {
  border-collapse: collapse;
}

.ant-table-header .ant-table-thead .ant-table-cell:before {
  width: 0 !important;
  height: 0 !important;
  background-color: transparent !important;
}

.ant-table-body .ant-table-row .ant-table-cell {
  background-color: transparent !important;
  border-bottom: none !important;
}

.ant-table-body .ant-table-row .ant-table-cell:first-child {
  padding-left: 16px;
}

.ant-table-body .ant-table-row:hover .ant-table-cell {
  cursor: pointer;
}

.ant-table-body .ant-table-row:hover .table-column-actions {
  display: flex;
}

.ant-table-body .ant-table-row:hover {
  background: #111d2c;
}

.table-active-row td {
  color: #13a8a8;
}

.table-active-row > :first-child {
  box-sizing: content-box;
  border-left: 8px #13a8a8 solid;
  padding-left: 12px !important;
}

.cluster-dropdown-item li:hover {
  background: #111d2c;
}

.ant-notification.ant-notification-topRight {
  z-index: 1051;
}

.walkthrough .ant-popover-inner {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  max-width: 420px;
  background: linear-gradient(180deg, #393bcd 0%, #2090cf 100%);
  padding: 28px 35px;
}

.walkthrough .ant-popover-title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.walkthrough .ant-popover-arrow {
  height: 20px;
  width: 20px;
}

.walkthrough .ant-popover-arrow-content {
  background: #3840cd;
  width: 20px;
  height: 20px;
}

.walkthrough .ant-btn-icon-only {
  border: none;
  position: absolute;
  top: -22px;
  right: -22px;
}

.ant-modal-close-icon {
  font-size: 14px !important;
  color: #93989c;
}
.ant-modal-body {
  position: relative;
  overflow: auto;
  background-color: #141414;
}
.ant-modal-footer {
  padding-top: 20px;
  background-color: #141414;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
