name: monokle-sign-notarize-publish-linux

on:
  push:
    branches:
      - main
      - auto-updater
  release:
    types:
      - prereleased

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build-and-publish-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Delete release and tagname
        uses: dev-drprasad/delete-tag-and-release@v0.2.0
        with:
          delete_release: true
          tag_name: latest-version
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        if: github.ref == 'refs/heads/auto-updater'

      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it.
      - name: Checkout Project
        uses: actions/checkout@v2

      - name: Get Node Version
        run: |
          cat .nvmrc
          echo "::set-output name=nodeversion::$(cat .nvmrc)"
        id: get-node-version

      - name: Use Node.js ${{ steps.get-node-version.outputs.nodeversion }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.get-node-version.outputs.nodeversion }}
          cache: 'npm'

      - name: Install Dependencies
        run: |
          env
          echo "npm: $(npm --version)"
          echo "node: $(node --version)"
          npm install

      - name: Verify Dependencies
        run: |
          ls -la
          npm list --depth=1

      - name: Install Tools
        run: |
          sudo apt-get install jq

      - name: Apply tag
        run: |
          git tag latest-version || true
          git push origin latest-version || true
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        if: github.ref == 'refs/heads/auto-updater'

      - name: Build
        run: |
          npm run electron:build:ci
        env:
          # Set CI flag to false, or the build fails on all warnings, not just errors as locally.
          CI: false

      - name: Package and Publish
        run: |
          npm exec -c "electron-builder --publish \"always\""
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          EP_PRE_RELEASE: true
        if: github.ref != 'refs/heads/auto-updater'

      - name: Package
        run: |
          contents="$(jq '.build.artifactName = "${productName}-${os}-${arch}.${ext}"' package.json)" && echo "${contents}" > package.json
          contents="$(jq '.build.appImage.artifactName = "${productName}-${os}-${arch}.${ext}"' package.json)" && echo "${contents}" > package.json
          npm exec -c "electron-builder --publish \"never\""
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          EP_PRE_RELEASE: true
        if: github.ref == 'refs/heads/auto-updater'

      # Check Binary Size
      - name: Build Succeeded
        run: |
          ls -alh dist | grep Monokle && du -sh dist || true
        if: ${{ success() }}

      - name: Create release and upload artifacts
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: 'dist/latest-linux.yml,dist/latest-linux-arm64.yml,dist/*.deb,dist/*.AppImage'
          draft: true
          omitBody: true
          token: ${{ secrets.github_token }}
          tag: latest-version
        if: github.ref == 'refs/heads/auto-updater'

      - name: Archive Binary
        uses: actions/upload-artifact@v2
        with:
          name: dist-nix
          path: dist
        if: ${{ success() }}

      - name: Build Failed - Output Build Logs
        run: |
          cat /Users/runner/.npm/_logs/*-debug.log || true
        if: ${{ failure() || cancelled() }}

      - name: Build Failed - Archive Build Logs
        uses: actions/upload-artifact@v2
        with:
          name: logs
          path: /Users/runner/.npm/_logs
        if: ${{ failure() || cancelled() }}

      # Make sure no secrets or certs are left on the runner
      - name: Cleanup files after run
        run: |
          rm -rf *
          ls -la
        if: ${{ always() }}
